.App-grid {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 1fr 1fr 1fr;
  grid-template-areas: 
    'nav   nav    nav'
    'chart chart  ranking'
    'turns button ranking'
    'beach beach  beach';
}

.nav-belt {
  background-color: #2EC4B6;
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

.belt-red-circle {
  z-index: 1;
  position: relative;
  top: -7.5vh;
  background-color: #FF6666;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
}

.belt-white-circle {
  position: absolute;
  top: -10vh;
  background-color: white;
  width: 20vh;
  height: 20vh;
  border-radius: 100%;
}

.ranking-container {
  grid-area: ranking;
  margin: 10% 15%;
  border: 3px solid #FF6666;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ranking-me, .ranking-others {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 75%;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.ranking-others {
  background-color: #FF6666;
}

.ranking-me {
  background-color: #2EC4B6;
}

.turn-overview {
  overflow-x: auto;
  grid-area: turns;
  border: 3px solid #FF6666;
  border-radius: 20px;
  margin: 5% 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #FF6666; 
}

.shop-name-blue {
  color: #2EC4B6;
}

.player-turn-container {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.turn-button {
  align-self: center;
  justify-self: center;
  height: 30%;
  width: 60%;
  grid-area: button;
  background-color: #FF6666;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}

.turn-button:disabled {
  cursor: auto;
  box-shadow: none;
  background-color: #FF666688;
}

.chart {
  grid-area: chart;
  border: 3px solid #FF6666;
  border-radius: 20px;
  margin: 5% 0% 0% 2.5%;
}

.beach-container {
  position: relative;
  grid-area: beach;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sector {
  display: flex;
  cursor: pointer;
  height: 150px;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: #2EC4B6;
  background-color: white;
  border: 3px solid #2EC4B6;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.sector p, .sector img {
  pointer-events: none;
}

.beach-image {
  width: 100%;
  position: absolute;
  top: -2%;
}

.sector.players {
  background-color: #2EC4B6;
  color: white;
}

.sector.computers {
  background-color: #FF6666;
  border-color: #FF6666;
  color: white;
}

.placed-shop-number {
  position: absolute;
  top: 40%;
  font-size: 62px;
}

.placed-shop-image {
  opacity: 0.25;
}

@media only screen and (max-width: 925px) {
  .App-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 1fr 1fr 10vh 1fr;
    grid-template-areas: 
      'nav     nav'
      'turns   turns'
      'ranking chart'
      'button  button'
      'beach   beach';
    min-height: 500px;
  }

  .turn-button {
    width: 300px;
    height: 6vh;
  }

  .ranking-container {
    margin: 10px;
    position: relative;
  }

  .ranking-me, .ranking-others {
    height: 25%;
  }

  .chart {
    margin: 10px;
  }

  .turn-overview {
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .beach-container {
    border-top: 5px solid #F1E8B8;
    border-radius: 10px;
    overflow-x: scroll;
    justify-content: flex-start;
    max-width: 1200px;
  }

  .sector {
    padding: 10px;
    width: 125px;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .ranking-me, .ranking-others {
    width: 85%;
    height: 28%;
    font-size: 18px;
  }
}
